
.imageBlock {
    height: 300px;
    width: 50%;
    background-color: powderblue;
}

.miniImage {
	height: 50%;
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; 
}